torch==2.4.1
torchvision==0.19.1
gymnasium==1.1.1
procgen==0.10.7
numpy==1.26.4
tqdm==4.67.1
matplotlib==3.9.4
matplotlib-inline==0.1.7
einops==0.8.1
opencv-python==4.11.0.86
gym==0.23.1
stable_baselines3==1.2.0
ale-py
